footer {
    background-color: #1F1F1F;
    height: 150px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

.sectionFooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectionFooter__logo {
    flex-basis: 20%;
    text-align: left;
}

.sectionFooter__logo.img {
    max-width: 87px;
    width: 100%;
}

.sectionFooter__rss {
    flex-basis: 20%;
    text-align: right;
}

.sectionFooter__rss__icon {
    padding: 10px;
}