.btn-primary-bad {
    background-color: #1F1F1F;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: #FECB46;
    margin-top: 50px;
    padding: 12px 40px 12px 40px;
}

.btn-primary-bad:hover {
    background-color: #e9e7e7;
    font-family: 'Anonymous Pro', monospace;
    color: #1F1F1F;
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    border: 2px solid #1F1F1F;
}

